/*!
Theme Name: Carton
Theme URI: https://themes.bavotasan.com/themes/carton-pro-wordpress-theme/
Author: Bandicoot Marketing
Author URI: http://bavotasan.com
Description: Create a truly unique design with Carton, a lightweight and fully responsive HTML5 theme built using jQuery Masonry. Use the new Theme Options customizer to add your own header image, custom background, column width and more. Distinguish each post with one of the eight supported post formats: Video, Image, Aside, Status, Audio, Quote, Link and Gallery. Install JetPack to display each of your galleries through a tiled view and jQuery carousel. Compatible with bbPress & BuddyPress. Created using SASS and Compass. Uses Google Fonts for improved typeface readability and works perfectly in desktop browsers, tablets and handheld devices. For a live demo go to http://demos.bavotasan.com/carton/.
Version: 1.0.7
Text Domain: carton
Domain Path: /library/languages/
Tags: two-columns, left-sidebar, buddypress, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, post-formats, sticky-post, theme-options, threaded-comments, translation-ready


License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html

Carton WordPress Theme, Copyright 2018 Bandicoot Marketing
Carton is distributed under the terms of the GNU GPL
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* =Gridiculous
-------------------------------------------------------------- */
.grid {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 320px;
  width: 100%; }

img {
  max-width: 100%;
  height: auto; }

.wfull, .c12 {
  width: 100%;
  max-width: 100%; }

.w320 {
  max-width: 320px; }

.w640 {
  max-width: 640px; }

.w960 {
  max-width: 960px; }

.row {
  width: 100%;
  margin-bottom: 20px; }
  .row .row {
    width: auto;
    margin-left: -20px;
    margin-right: -20px; }
    @media (max-width: 960px) {
      .row .row .c1, .row .row .c2, .row .row .c3, .row .row .c4, .row .row .c5, .row .row .c6, .row .row .c7, .row .row .c8, .row .row .c9, .row .row .c10, .row .row .c11, .row .row .c12 {
        width: 100%;
        margin-bottom: 20px; } }
    @media (max-width: 960px) {
      .row .row > div:last-child {
        margin-bottom: 0; } }

.c1 {
  width: 8.33%; }

.c2 {
  width: 16.66%; }

.c3 {
  width: 25%; }

.c4 {
  width: 33.33%; }

.c5 {
  width: 41.66%; }

.c6 {
  width: 50%; }

.c7 {
  width: 58.33%; }

.c8 {
  width: 66.66%; }

.c9 {
  width: 75%; }

.c10 {
  width: 83.33%; }

.c11 {
  width: 91.66%; }

.w320 .c1, .w320 .c2, .w320 .c3, .w320 .c4, .w320 .c5, .w320 .c6, .w320 .c7, .w320 .c8, .w320 .c9, .w320 .c10, .w320 .c11, .w640 .c1, .w640 .c2, .w640 .c3, .w640 .c4, .w640 .c5, .w640 .c6, .w640 .c7, .w640 .c8, .w640 .c9, .w640 .c10, .w640 .c11 {
  width: 100%; }

.s1 {
  margin-left: 8.33%; }

.s2 {
  margin-left: 16.66%; }

.s3 {
  margin-left: 25%; }

.s4 {
  margin-left: 33.33%; }

.s5 {
  margin-left: 41.66%; }

.s6 {
  margin-left: 50%; }

.s7 {
  margin-left: 58.33%; }

.s8 {
  margin-left: 66.66%; }

.s9 {
  margin-left: 75%; }

.s10 {
  margin-left: 83.33%; }

.s11 {
  margin-left: 91.66%; }

.end {
  float: right !important; }

.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
  min-height: 1px;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  position: relative; }
  @media (max-width: 768px) {
    .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 20px; } }

/* =Clearfix http://css-tricks.com/snippets/css/clear-fix/
-------------------------------------------------------------- */
.row:after,
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/*!
 *  Font Awesome 3.0.2
 *  the iconic font designed for use with Twitter Bootstrap
 *  -------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation
 *  can be found at: http://fortawesome.github.com/Font-Awesome/
 *
 *  License
 *  -------------------------------------------------------
 *  - The Font Awesome font is licensed under the SIL Open Font License - http://scripts.sil.org/OFL
 *  - Font Awesome CSS, LESS, and SASS files are licensed under the MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - The Font Awesome pictograms are licensed under the CC BY 3.0 License - http://creativecommons.org/licenses/by/3.0/
 *  - Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *    "Font Awesome by Dave Gandy - http://fortawesome.github.com/Font-Awesome"
 *
 *  Contact
 *  -------------------------------------------------------
 *  Email: dave@davegandy.com
 *  Twitter: http://twitter.com/fortaweso_me
 *  Work: Lead Product Designer @ http://kyruus.com
 */
@font-face {
  font-family: 'FontAwesome';
  src: url("library/fonts/fontawesome-webfont.eot?v=3.0.1");
  src: url("library/fonts/fontawesome-webfont.eot?#iefix&v=3.0.1") format("embedded-opentype"), url("library/fonts/fontawesome-webfont.woff?v=3.0.1") format("woff"), url("library/fonts/fontawesome-webfont.ttf?v=3.0.1") format("truetype");
  font-weight: normal;
  font-style: normal; }
/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  /* sprites.less reset */
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none; }

/* makes sure icons active on rollover in links */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block; }

.icon-search:before {
  content: "\f021"; }

.icon-leaf:before {
  content: "\f022"; }

.icon-reorder:before {
  content: "\f023"; }

.icon-caret-down:before {
  content: "\f024"; }

.icon-caret-up:before {
  content: "\f025"; }

.icon-quote-left:before {
  content: "\f026"; }

/* =General
-------------------------------------------------------------- */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  outline: none; }

body {
  font-size: 14px;
  line-height: 1.6; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin: 20px 0;
  text-rendering: optimizelegibility; }
  .basic h1, .basic h2, .basic h3, .basic h4, .basic h5, .basic h6 {
    color: #333333;
    font-family: Lato, sans-serif;
    font-weight: normal; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none; }
    .basic h1 a, .basic h2 a, .basic h3 a, .basic h4 a, .basic h5 a, .basic h6 a {
      color: #333333; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 18px; }

p {
  margin: 1em 0; }

a {
  text-decoration: none; }
  .basic a {
    color: #444; }
    .basic a:hover {
      color: #000; }

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

ul, ol {
  padding: 0 0 0 20px; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

table {
  width: 100%;
  background: #fff; }
  table td, table th {
    padding: 8px;
    border: 1px solid #bbb;
    text-align: left; }
  table th {
    background: #ddd;
    font-weight: bold; }
  table caption {
    padding: 1em 0;
    text-align: center; }

dt {
  font-weight: bold; }

dd {
  line-height: 1.4;
  margin: 4px 0 0;
  padding: 0 0 .5em 0; }

blockquote {
  margin: 1em 0;
  border-left: 10px solid #ccc;
  padding-left: 12px; }

cite {
  text-align: right;
  font-style: normal;
  display: block; }
  cite:before {
    content: '\2013 \00A0'; }

code,
kbd,
pre,
samp,
tt {
  font: 0.8em 'Andale Mono', 'Lucida Console', monospace; }

pre,
code {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #f2f2f2;
  border: 1px solid #e6e6e6;
  color: #888;
  padding: 2px 4px; }

pre {
  white-space: pre;
  word-wrap: normal;
  overflow-x: scroll;
  line-height: 1.3;
  margin: 1em 0; }

select {
  width: 100%; }

.fl {
  float: left; }

.fr {
  float: right; }

del {
  color: red;
  text-decoration: line-through; }

ins {
  border-bottom: 1px solid green;
  text-decoration: none;
  color: green; }

em, i, var {
  font-style: italic; }

strong, b {
  font-weight: bold; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

abbr, acronym {
  border-bottom: 1px dotted; }

address {
  margin: 0 0 1.5em;
  font-style: italic; }

.image-anchor {
  border: 0 !important; }

/* =Inputs
-------------------------------------------------------------- */
input,
textarea {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 8px;
  border: 1px solid #bbb;
  font-size: 14px;
  color: #555; }
  input:focus,
  textarea:focus {
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    border-color: #AAA; }

input[type=text], input[type=password], input[type=email], input[type=url], input[type=number] {
  width: 240px; }
input[type="submit"] {
  margin-top: 0; }

textarea {
  width: 100%; }

select {
  display: inline-block;
  height: 28px;
  line-height: 1;
  border: 1px solid #aaa;
  padding: 4px;
  color: #555; }
  .widget select {
    width: 70%; }

/* =Media
-------------------------------------------------------------- */
video {
  max-width: 100%;
  height: auto; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

.responsive-video-wrapper {
  width: 100%;
  position: relative;
  padding: 0; }

.responsive-video-wrapper iframe,
.responsive-video-wrapper object,
.responsive-video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* =Assitive Text
-------------------------------------------------------------- */
.remove,
.screen-reader-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

body {
  -moz-transition: left 0.25s ease-in-out;
  -o-transition: left 0.25s ease-in-out;
  -webkit-transition: left 0.25s ease-in-out;
  transition: left 0.25s ease-in-out;
  position: relative;
  left: 0;
  text-shadow: 1px 1px 0 #fff;
  letter-spacing: 0.05em; }
  body.basic {
    color: #555;
    font-family: Arial, sans-serif;
    background: #eee; }

/* =Header
-------------------------------------------------------------- */
#site-title {
  margin: 0;
  line-height: 1;
  font-size: 36px; }
  .basic #site-title {
    font-family: Quicksand, sans-serif;
    font-weight: normal; }
  #site-title a {
    text-decoration: none; }

#site-logo {
  margin-bottom: 5px; }

#site-description {
  margin: 0;
  font-size: 100%;
  line-height: 1.2; }
  .basic #site-description {
    font-family: Lato, sans-serif;
    font-weight: 300; }

#header-img {
  padding: 0;
  border: 0;
  clear: both;
  margin-bottom: 30px; }

.header-wrap {
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
  margin-bottom: 10px;
  width: 100%;
  padding-bottom: 10px; }

/* =Main Navigation
-------------------------------------------------------------- */
#site-navigation {
  margin-bottom: 20px;
  clear: both; }
  #site-navigation ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    #site-navigation ul li {
      padding: 0 0 6px; }
      #site-navigation ul li a {
        padding: 2px 0;
        display: block;
        text-decoration: none; }
      #site-navigation ul li.sub-menu-parent > a:after {
        content: "\f0d7";
        font-family: 'FontAwesome';
        margin: 2px 0 0 8px; }
      #site-navigation ul li.sub-menu-parent > a.open:after {
        content: "\f0d8"; }
      .basic #site-navigation ul li.sub-menu-parent > a:after {
        content: "\f024"; }
      .basic #site-navigation ul li.sub-menu-parent > a.open:after {
        content: "\f025"; }
    #site-navigation ul ul {
      padding: 5px 0 0 15px;
      display: none; }

.navigation {
  text-align: center;
  margin: 30px 0 0; }
  .infinite-scroll .navigation {
    display: none; }

/* =Mobile Navigation
-------------------------------------------------------------- */
#mobile-menu {
  background: #1b1b1b;
  display: none;
  padding: 5px 10px;
  border-bottom: 1px solid #000; }
  @media (max-width: 768px) {
    #mobile-menu {
      display: block; } }
  #mobile-menu .left-menu,
  #mobile-menu .mobile-search {
    -moz-box-shadow: inset 1px 1px 1px #000, 1px 1px 1px #333;
    -webkit-box-shadow: inset 1px 1px 1px #000, 1px 1px 1px #333;
    box-shadow: inset 1px 1px 1px #000, 1px 1px 1px #333;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    width: 45px;
    margin: 0 0 0 5px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    font-size: 20px;
    color: #ffffff;
    background: #000;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    top: 5px;
    left: 5px; }
    #mobile-menu .left-menu.left-menu,
    #mobile-menu .mobile-search.left-menu {
      margin: 0 5px 0 0; }
    #mobile-menu .left-menu:hover,
    #mobile-menu .mobile-search:hover {
      background-color: #333; }
  #mobile-menu .mobile-search {
    left: auto;
    right: 5px; }
  #mobile-menu .mobile-title {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    font-size: 26px;
    text-align: center;
    display: block;
    padding: 1px 50px; }

.left-menu-open {
  position: relative;
  left: 260px; }

#drop-down-search {
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  display: none;
  padding: 14px;
  background: #333;
  position: absolute;
  width: 100%;
  z-index: 10; }
  #drop-down-search .search-field {
    width: 100%; }
  #drop-down-search .search-submit {
    display: none; }

@media (max-width: 768px) {
  #secondary {
    position: absolute;
    top: 20px;
    left: -260px;
    width: 260px;
    padding: 0 0 30px; } }
@media (max-width: 768px) {
  #secondary .header-wrap {
    display: none; } }

/* =Main
-------------------------------------------------------------- */
#main {
  padding-top: 20px; }

#primary {
  width: 100%;
  float: none;
  padding: 0 20px 0 0;
  margin: 0 0 20px; }
  .home.blog #primary, .search #primary, .category #primary, .date #primary {
    max-width: 100% !important; }
  .home #primary {
    margin-top: 0; }
  @media (max-width: 768px) {
    #primary {
      padding-left: 20px !important; } }

#secondary {
  padding: 0 20px;
  float: left; }

#boxes {
  visibility: hidden; }

/* =Article
-------------------------------------------------------------- */
article {
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 20px;
  float: left;
  width: 100%;
  text-shadow: none;
  border-top: 5px solid; }
  @media (max-width: 768px) {
    article {
      float: none; } }
  article.sticky {
    border-top: 10px solid #444 !important; }
  article.masonry {
    margin: 0 10px 10px 0; }
    @media (max-width: 768px) {
      article.masonry {
        max-width: 100% !important; } }
    article.masonry.full {
      width: 100% !important;
      position: static !important; }
  .basic article {
    background-color: #fff;
    border-top-color: #aaa; }

.entry-title {
  margin: 0;
  line-height: 1.1;
  font-size: 2em; }
  .basic .entry-title {
    font-family: Lato, sans-serif;
    font-weight: 900; }
  .entry-title a {
    text-decoration: none; }

.entry-meta {
  font-size: 85%;
  line-height: 1.4;
  margin-top: 2px;
  color: #333; }
  .basic .entry-meta {
    font-family: Lato, sans-serif;
    font-weight: 300; }
  .entry-meta a {
    text-decoration: none;
    border-bottom: 1px dotted; }
    .entry-meta a:hover {
      color: #444; }
  .entry-meta .date-anchor {
    border: 0; }

.post-category,
.post-format,
.page-title {
  text-transform: uppercase;
  font-size: 80%;
  margin: 0 0 3px 0;
  color: #666;
  line-height: 1; }
  .basic .post-category, .basic
  .post-format, .basic
  .page-title {
    font-family: Lato, sans-serif;
    font-weight: 300; }

.format-link .post-format {
  margin-bottom: 5px; }

.page-title {
  font-size: 100%;
  padding: 10px 0; }

.post-category a {
  text-decoration: none;
  color: #666;
  line-height: 1.4; }
  .post-category a:hover {
    color: #444; }

.entry-content {
  position: relative;
  width: 100%; }
  .entry-content a {
    border-bottom: 1px dotted;
    text-decoration: none; }

.drop-caps .excerpt:first-letter {
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding: 4px 8px 0 3px;
  font-family: Georgia, serif; }

.entry-content .more-link,
.entry-content .button,
.entry-content #posts-pagination a,
.entry-content input[type="submit"],
.entry-content .comment-reply-link {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  background: #888;
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
  display: inline-block;
  margin: 1em 0;
  line-height: 1.2;
  font-size: 12px;
  border: 0;
  word-break: break-word; }
  .entry-content .more-link:hover,
  .entry-content .button:hover,
  .entry-content #posts-pagination a:hover,
  .entry-content input[type="submit"]:hover,
  .entry-content .comment-reply-link:hover {
    background: #444;
    color: #eee; }

.more-link-p {
  clear: both; }
  .more-link-p .more-link {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0; }

footer.entry {
  clear: both;
  float: left;
  width: 100%; }

.pullquote {
  font-size: 21px;
  color: #444;
  font-weight: bold;
  line-height: 1.6125em;
  border: 0;
  padding: 0;
  margin: 1em 1.625em 1em 0;
  text-align: right;
  width: 33%;
  float: left;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa; }
  .pullquote.alignright {
    margin: 1em 0 1em 1.625em;
    text-align: left;
    float: right; }
  @media (max-width: 480px) {
    .pullquote {
      width: 100%;
      margin: 0 0 .5em 0;
      float: none;
      text-align: left; } }

/* =404
-------------------------------------------------------------- */
.error404 .entry-title {
  font-size: 500%;
  text-align: center; }
  @media (max-width: 480px) {
    .error404 .entry-title {
      font-size: 400%; } }
.error404 .entry-content {
  text-align: center;
  font-size: 200%;
  line-height: 1.2;
  text-transform: uppercase; }
  @media (max-width: 480px) {
    .error404 .entry-content {
      font-size: 150%; } }

/* =Aside
-------------------------------------------------------------- */
.format-aside p {
  margin-top: 0; }

/* =Quote
-------------------------------------------------------------- */
.format-quote .entry-content {
  padding-left: 70px;
  font-style: italic; }
.format-quote blockquote,
.format-quote blockquote p,
.format-quote .entry-content p {
  font-size: 36px;
  line-height: 1.2;
  margin: 0; }
.format-quote i.quote {
  color: #ccc;
  display: block;
  font-size: 60px;
  position: relative;
  float: left; }
.format-quote blockquote {
  border: 0;
  padding: 0;
  font-size: 18px; }
.format-quote cite {
  font-size: 24px; }

/* =Status
-------------------------------------------------------------- */
.format-status .post-category {
  margin-bottom: 10px; }
.format-status .avatar {
  float: left;
  margin: 0 17px 0 0; }
.format-status .author {
  font-size: 18px;
  margin: 0; }
.format-status .entry-content {
  padding-left: 77px;
  clear: none;
  display: inherit; }
  .format-status .entry-content p {
    margin-top: 0; }
.format-status time {
  font-size: 13px;
  color: #666;
  margin: 5px 0 10px;
  display: inline-block; }

/* =Link
-------------------------------------------------------------- */
.format-link blockquote {
  margin-top: 0; }
.format-link p {
  margin: 0; }
.format-link footer.entry p {
  margin: 1em 0; }
.format-link .entry-content a {
  font-size: 24px;
  border: 0; }

/* =Gallery
-------------------------------------------------------------- */
.gallery {
  margin: 20px -20px; }
  .gallery > p {
    margin: 0;
    height: 0; }

.gallery-item {
  margin-bottom: 20px;
  float: left;
  padding: 0 20px; }
  .gallery-item .gallery-icon img {
    width: 100%; }
  .gallery-item .gallery-caption {
    padding: 10px 0;
    color: #444;
    clear: both;
    font-size: 12px;
    text-align: center; }
  .gallery-columns-1 .gallery-item {
    width: 100%; }
  .gallery-columns-2 .gallery-item {
    width: 50%; }
  .gallery-columns-3 .gallery-item {
    width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    width: 25%; }
  .gallery-columns-5 .gallery-item {
    width: 20%; }
  .gallery-columns-6 .gallery-item {
    width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    width: 11.11%; }
  @media (max-width: 480px) {
    .gallery .gallery-item {
      width: 100%;
      margin-bottom: 20px; } }

/* =Tags
-------------------------------------------------------------- */
.tags {
  font-size: 14px;
  margin-bottom: 0; }
  .tags span {
    margin-right: 5px; }
  .tags a {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #eee;
    padding: 2px 6px;
    border: 1px solid #ddd;
    font-size: 90%;
    margin: 0 2px 5px 0;
    color: #666;
    display: inline-block; }
    .tags a:hover {
      background: #ddd; }

/* =Pagination
-------------------------------------------------------------- */
#post-pagination {
  margin: 10px 0;
  width: 100%;
  float: left;
  overflow: hidden; }
  #post-pagination a,
  #post-pagination .current-post-page {
    background: #fff;
    padding: 8px 16px;
    border: 1px solid #bbb;
    float: left;
    margin-right: 5px;
    text-decoration: none;
    text-shadow: none; }
    #post-pagination a:hover,
    #post-pagination .current-post-page:hover {
      background: #444;
      color: #eee;
      text-shadow: 1px 1px 0 #000; }

#posts-pagination {
  margin: 10px 0;
  width: 100%;
  float: left;
  overflow: hidden; }
  #posts-pagination .previous,
  #posts-pagination .next {
    max-width: 48%; }

#pages a {
  text-decoration: none;
  border-bottom: 1px dotted; }

span.infinite-loader {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  z-index: 100;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  background: #444;
  color: #fff;
  opacity: 0.9;
  margin: -30px 0 0 -30px;
  line-height: 60px;
  padding-left: 13px; }

/* =Comments
-------------------------------------------------------------- */
#comments {
  float: left;
  width: 100%; }

.comments-area {
  margin-top: 30px;
  clear: both;
  float: left;
  width: 100%; }
  .comments-area .commentlist,
  .comments-area .children {
    list-style: none;
    padding: 0; }

.commentlist {
  list-style: none;
  padding: 0; }
  .commentlist .comment,
  .commentlist .pingback {
    padding-bottom: 10px; }
  .commentlist .comment .avatar {
    float: left; }
  .commentlist .comment .comment-author,
  .commentlist .comment .comment-meta,
  .commentlist .comment .comment-text {
    padding-left: 75px; }
  .commentlist .comment .comment-author {
    font-size: 20px; }
  .commentlist .comment .comment-meta {
    font-size: 13px;
    color: #888;
    font-style: italic; }
  .commentlist .comment .comment-reply-link {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 14px;
    color: #fff;
    margin: 0;
    background: #bbb;
    text-shadow: none; }
    .commentlist .comment .comment-reply-link:hover {
      background: #aaa; }
  .commentlist .children {
    margin: 20px 0 0;
    padding-left: 10px;
    list-style: none; }
    .commentlist .children > .comment {
      padding-left: 23px !important; }
    .commentlist .children .comment {
      border-left: 1px solid #ccc;
      position: relative; }
      .commentlist .children .comment:before {
        width: 12px;
        height: 12px;
        display: block;
        background: #fff;
        -moz-border-radius: 12px;
        -webkit-border-radius: 12px;
        border-radius: 12px;
        border: 1px solid #ccc;
        position: absolute;
        top: 30px;
        left: -7px;
        content: "";
        z-index: 60; }
      .commentlist .children .comment:after {
        width: 100px;
        height: 1px;
        border-top: 1px solid #ccc;
        display: block;
        position: absolute;
        top: 36px;
        left: -5px;
        content: "";
        z-index: 50; }
  .commentlist .comment-body {
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background: #fff;
    display: block;
    z-index: 100;
    position: relative; }
  .commentlist .bypostauthor > .comment-body {
    border: 10px solid #aaa; }
  .commentlist pre {
    background: #fff;
    border-color: #e6e6e6; }

#cancel-comment-reply-link {
  font-size: 14px;
  font-weight: normal;
  float: right; }

#comment-nav-above,
#comment-nav-below {
  margin: 10px 0;
  overflow: hidden; }
  #comment-nav-above .nav-previous,
  #comment-nav-above .nav-next,
  #comment-nav-below .nav-previous,
  #comment-nav-below .nav-next {
    display: inline-block;
    width: 50%;
    float: left; }
  #comment-nav-above .nav-next,
  #comment-nav-below .nav-next {
    text-align: right; }

/* =Archives
-------------------------------------------------------------- */
#archive-header,
.page-title {
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 1px 0 rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 1px 0 rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 1px 0 rgba(255, 255, 255, 0.8);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 0 30px; }

#archive-header h1 {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 0;
  border: 0; }

h2.archive-meta {
  font-size: 13px;
  color: #666;
  padding-bottom: 10px;
  margin: 0;
  font-weight: 300; }
  h2.archive-meta p {
    margin: 0; }

/* =Sidebar
-------------------------------------------------------------- */
.widget {
  margin-bottom: 30px;
  width: 100%;
  font-size: 90%; }
  .widget .widget-title {
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 120%;
    margin: 0 0 15px;
    line-height: 1;
    padding: 0 0 10px; }
    .widget .widget-title .rsswidget {
      text-decoration: none; }
  .widget p a {
    text-decoration: none;
    border-bottom: 1px dotted; }
  .widget ul {
    padding: 0 0 0 30px;
    margin-top: 0; }
    .widget ul li a {
      text-decoration: none; }
  .widget.widget_search #site-search {
    width: 100%; }
  .widget .tagcloud {
    line-height: 1.3;
    text-align: center; }

.rsswidget img {
  background: none;
  padding: 0;
  display: inline-block;
  margin: 0; }
.rsswidget ul {
  list-style: none;
  padding: 0; }
  .rsswidget ul .rsswidget {
    font-size: 120%;
    line-height: 1; }
    .rsswidget ul .rsswidget:hover {
      margin: 0 !important; }
  .rsswidget ul .rss-date {
    clear: both;
    font-size: 90%;
    color: #333;
    display: block; }
  .rsswidget ul cite {
    font-style: italic; }

#wp-calendar caption {
  margin-bottom: 5px; }

td#prev,
tfoot td.pad {
  border-right: 0; }

td#next,
tfoot td.pad {
  border-left: 0;
  text-align: right; }

td#prev a,
td#next a,
#wp-calendar tbody a {
  border-bottom: 1px dotted;
  text-decoration: none; }

/* =Footer
-------------------------------------------------------------- */
#footer {
  border-top: 1px solid #000;
  background: #444;
  text-shadow: 1px 1px 0 #000;
  color: #fff;
  font-size: 13px; }
  @media (max-width: 768px) {
    #footer #footer-content span {
      display: block;
      float: none;
      text-align: center; } }
  #footer .row {
    margin-bottom: 0; }
  #footer a {
    color: #fff;
    border-bottom: 1px dotted;
    text-decoration: none; }
  #footer .fr {
    position: relative; }
  #footer .credit-link {
    position: relative; }
  @media (max-width: 768px) {
    #footer .copyright {
      margin-bottom: 10px; } }
  #footer .fa-leaf {
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    font-size: 28px;
    position: absolute;
    top: -4px;
    left: -35px; }
    @media (max-width: 768px) {
      #footer .fa-leaf {
        display: none; } }

/* =Sticky Footer
-------------------------------------------------------------- */
html, body {
  height: 100%; }

#page {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -45px; }
  @media (max-width: 768px) {
    #page {
      margin-bottom: -65px; } }

#main {
  padding-bottom: 65px;
  margin-bottom: 0; }

#footer {
  height: 45px; }
  @media (max-width: 768px) {
    #footer {
      height: 65px; } }

/* =bbPress
-------------------------------------------------------------- */
#bbpress-forums .avatar {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
.entry-content #bbpress-forums .bbp-author-name {
  border: 0; }
#bbpress-forums .wp-editor-container {
  border: 1px solid #ddd; }

.bbp-author-avatar {
  display: inline-block; }
  .bbp-author-avatar img {
    margin-bottom: 0 !important; }

.alert {
  font: 12px/1.4 normal Arial, sans-serif;
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.alert h4 {
  font-size: 16px;
  color: inherit;
  font-family: inherit; }

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px; }

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

.alert-danger, .alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7; }

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1; }

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px; }

.alert-block > p, .alert-block > ul {
  margin-bottom: 0; }

.alert-block p + p {
  margin-top: 5px; }

.alert p, .alert h4 {
  margin: 0; }

.alert a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted; }

.alert a:hover {
  color: inherit; }

.alert code {
  padding-bottom: 2px;
  background: #f6f6f6;
  border-color: #e6e6e6;
  font-size: 11px; }

.entry-content .bbp-pagination-links a,
.entry-content .bbp-pagination-links span.current {
  border: 1px solid #efefef; }

.buddypress .item-list-tabs a {
  border: 0; }
.buddypress .generic-button a {
  display: block; }

#buddypress ul.item-list li div.item-title, #buddypress ul.item-list li h4 {
  font-size: 100%; }

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 20px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

.aligncenter {
  display: block;
  margin: 5px auto 20px auto; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #f2f2f2;
  border: 1px solid #e6e6e6;
  max-width: 100%;
  padding: 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 12px;
  margin: 0;
  padding: 10px 0 0; }
